@tailwind base;
@tailwind components;
@tailwind utilities;

button,
button:focus {
  @apply outline-none;
}

html,
body,
#root,
.App {
  width: 100%;
  height: 100%;
}

body {
  background-color: #263238;
  background-repeat: no-repeat;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.wind-h:hover .wind-short {
  opacity: 0;
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

.wind-h:hover .wind-long {
  display: block;
  position: absolute;
}

.wind-long {
  display: none;
  margin-top: -40px;
}

@media screen and (min-width: 1536px) {
  body {
    background-size: cover;
  }
}

@media screen and (min-height: 766px) {
  body {
    background-size: cover;
  }
}
